[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
crayons = "*"
mpy-cross = "*"
adafruit-ampy = "*"
"jinja2" = "*"
numpy="*"
pulsectl = "*"
zproc = {editable = true, path = "./../zproc"}

[dev-packages]

[requires]
python_version = "3.6"
