[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulsectl = "*"
click = "*"
mpy-cross = "*"
adafruit-ampy = "*"
"jinja2" = "*"
muro = {editable = true, path = "."}
numpy = "*"

[dev-packages]

[requires]
python_version = "3.7"
